[
    {
        lager,
        [
            {
                handlers,
                [
                    {lager_console_backend, info}
                ]
            }
        ]
    },

    {brod, [
        {clients, [
            {kafka_client, [
                {endpoints, [
                    {"172.17.3.163", 9092},
                    {"172.17.3.164", 9092},
                    {"172.17.3.165", 9092}
                ]},

                {auto_start_producers, true},
                {reconnect_cool_down_seconds, 5},
                {default_producer_config, [{required_acks, 0}]}
            ]}
        ]}
    ]},

    {erlkaf, [
        {global_client_options, [
            {bootstrap_servers, <<"172.17.3.163:9092,172.17.3.164:9092,172.17.3.165:9092">>},
            {socket_keepalive_enable, true}
        ]}
    ]}
].
