[
    {
        lager,
        [
            {
                handlers,
                [
                    {lager_console_backend, info}
                ]
            }
        ]
    },

    {brod, [
        {clients, [
            {kafka_client, [
                {endpoints, [
                    {"172.17.3.163", 9092},
                    {"172.17.3.164", 9092},
                    {"172.17.3.165", 9092}
                ]},

                {auto_start_producers, true},
                {reconnect_cool_down_seconds, 5},
                {default_producer_config, [{required_acks, 0}]}
            ]}
        ]}
    ]},

    {erlkaf, [
        {clients, [
            {client_producer,[

                {type, producer},

                {topics, [
                    {<<"benchmark">>, [{request_required_acks, 0}]}
                ]},

                {client_options, [
                    {bootstrap_servers, "172.17.3.163:9092,172.17.3.164:9092,172.17.3.165:9092"},
                    {delivery_report_only_error, true},
                    {delivery_report_callback, benchmark_producer},
                    {queue_buffering_max_messages, 1000000}
                ]}
            ]},

            {client_consumer,[

                {type, consumer},

                {group_id, <<"erlkaf_consumer">>},
                {callback_module, test_consumer},
                {callback_args, []},
                {topics, [<<"benchmark">>]},
                {topic_options, [
                    {auto_offset_reset, smallest}
                ]},

                {client_options, [
                    {bootstrap_servers, "172.17.3.163:9092"}
                ]}
            ]}
        ]}
    ]}
].
