{pre_hooks, [{"(linux|darwin)", compile, "make compile_nif"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean_nif"}]}.
{artifacts, ["priv/erlkaf_nif.so"]}.

{project_plugins, [rebar3_hex]}.

{deps, [
    {jsone, "1.9.0"},
    {esq, "2.0.6"}
]}.

{overrides, [
    {override, datum, [
        {erl_opts, [
            warn_export_all
        ]}
    ]}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.
