{pre_hooks, [{"(linux|darwin)", compile, "make compile_nif"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean_nif"}]}.
{artifacts, ["priv/erlkaf_nif.so"]}.

{plugins, [rebar3_hex]}.

{deps, [
    {lager, "3.6.7"},
    {jsone, "1.4.7"},
    {esq, "2.0.4"}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all,
    {parse_transform, lager_transform}
]}.
