{pre_hooks, [{"(linux|darwin)", compile, "make compile_nif"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean_nif"}]}.

{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
    {jsone, ".*", {git, "https://github.com/sile/jsone.git", {tag, "1.4.5"}}},
    {plists, ".*", {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.2"}}},
    {esq, ".*", {git, "https://github.com/fogfish/esq.git", "d4be009cace3aa901966c60947ea9dfe0fe6aefd"}}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all,
    {parse_transform, lager_transform}
]}.
